<!DOCTYPE html>
<html>

<head>

<title>HaritNiva AI Assistant</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="app">

<aside class="sidebar">

<h2 class="logo">🌿 Vistaar AI</h2>

<nav>

<a href="/">🏠 Dashboard</a>

<a href="/weather">🌦 Weather</a>

<a href="/crop">🌱 Crop Recommendation</a>

<a href="/harvest">🌾 Harvest Planner</a>

<a href="/disease">🩺 Disease Detection</a>

<a href="/profit">💰 Profit Simulator</a>

<a href="/chatbot" class="active">🤖 AI Assistant</a>
<a href="/soil">🌱 Soil Analyzer</a>
</nav>

</aside>

<main class="main-content">
<div id="google_translate_element"></div>
<h1>🤖 Vistaar AI Assistant</h1>

<form method="POST">

<label>Ask a Farming Question</label>

<input
type="text"
name="question"
placeholder="e.g. Why are my leaves yellow?"
required>

<br><br>

<button type="submit">

Ask AI

</button>

</form>

{% if answer %}

<hr>

<div class="card">

<h2>🤖 AI Response</h2>

<p>{{ answer }}</p>

</div>

{% endif %}

</main>

</div>
<script type="text/javascript">
function googleTranslateElementInit() {
    new google.translate.TranslateElement({
        pageLanguage: 'en',
        includedLanguages: 'en,hi,pa',
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE
    }, 'google_translate_element');
}
</script>

<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script>
if(localStorage.getItem("theme")==="dark"){
    document.body.classList.add("dark-mode");
}
</script>
</body>

</html>